<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<!-- <div>
        <button class="btn btn-info" (click)="getUsers()">Populate Questions </button>
    </div> -->

<!-- <ul *ngFor="let cat of cats.trivia_categories">
            <li > {{cat.name}} 
                
            </li>
    </ul> -->
<h1 class="text-secondary">Random Quizzie</h1>
<div class="container"><img src="https://www.ifebp.org/Style%20Library/IFEBP/Images/InfoServices/banner_got-a-benefits-question.png"
    /></div>
<div *ngIf='!check' class="form-group" class="container" class="container-fluid" style="text-align:left">
    <div class="row">
        <div class="col">
            <label for="category3" class="text-secondary" style="font-size:large; text-align:left">
                Select The Category!
            </label>
            <select id="category3" name="category3" [(ngModel)]="category3s" class="form-control">
                <option *ngFor="let cat3 of category3" [value]="cat3.id">
                    {{cat3.name}}
                </option>
            </select>
        </div>
        <div class="col">
            <label for="questions" class="text-secondary" style="font-size:large"> Enter Desired Number of Questions (Max
                = 50) </label> <br>
            <input id="questions" type="number" min="0" max="50" step="1.0" [(ngModel)]="amounts" placeholder="amount"><br>
        </div>
    </div>
</div>
<br><br><br>
<div class="container" style="text-align:center">
    <button (click)='getCategory()' class='btn btn-secondary btn-lg'>Generate Quizzie</button>
</div>
<br><br><br>
<!-- <div *ngIf='check'>
    <ul *ngFor="let post of posts.results">
            <li >{{post.category}} {{post.correct_answer}} {{post.difficulty}} 
            </li>
    </ul>
    </div>  -->

    <div *ngIf='check' class="form-group" class="container" style="font-size:large" class="text-secondary">
            <label for="Quizzie">
        {{posts.results[count].question}}
    </label>
    <select id="Quizzie" name="Quizzie" [(ngModel)]="userAnswer" class="form-control">

        <option *ngIf='!alternate' [value]="posts.results[count].correct_answer">
            {{posts.results[count].correct_answer}}
        </option>
        <option *ngFor="let incorrect of posts.results[count].incorrect_answers" [value]="incorrect">
            {{incorrect}}
        </option>
        <option *ngIf='alternate' [value]="posts.results[count].correct_answer">
            {{posts.results[count].correct_answer}}
        </option>
    </select>
    <button (click)='getAnswer()' class='btn btn-success btn-lg'>Submit</button>
</div>
<div *ngIf='!check' class="container-fluid" style="text-align:center">
    <label class="text-secondary" style="font-size:large">Your Results: {{results}}%</label>
</div>