<!-- <title>Route to your destination</title> -->
<!-- <button  routerLink="/login">Login</button> -->
<button  routerLink="/dashboard">Dashboard</button>
<!-- <button  routerLink="/get">Take Saved Quizzie!</button> -->
<button  routerLink="/questionform">Create A Custom Quiz</button>
<!-- <button  routerLink="/quizzie">Take a Quizzie!</button> -->
<button  routerLink="/createUser">Create New User</button>
<button  routerLink="/viewStats">View Your Stats</button>
<button  routerLink="/updateInfo">Update Personal Info</button>
<button  routerLink="/takeQuiz">Take a Quiz!</button>
<button  routerLink="/loggedIn">UserAccount</button>
<button  routerLink="/default">Log in as a user</button>







<!-- <button  routerLink="/**">Problem 5</button> -->